#content-wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0;
    margin: 0;
}

#top-bar-row{
    width: 100%;
    background-color: #4682A9;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #F6F4EB ;
    padding: 10px 0px 5px 0px;
    display: flex;
    flex-direction: row;
}

#page-title{
    width: 50%;
}

#logout-btn-col{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

#logout-btn-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 7px;
}

#logout-btn-wrapper:hover{
    cursor: pointer;
    background-color: #91C8E4;
}

#logout-ico{
    color: #F6F4EB;
    margin-right: 10px;
}

#logout-btn{
    text-decoration: none;
    color: #F6F4EB;
}

#page-navigation-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2em;
}

#return-btn-wrapper{

}

#return-ico{

}

#return-btn{
    text-decoration: none;
    color: #4682A9;
}

.main-content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5em;
}

.add-new-row{
    width: 100%;   
}

.add-new-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.add-new-wrapper p{
    margin-right: 0.5em;
    margin-bottom: 0;
}

.table-content-row{
    min-width: fit-content;
    width: 100%;
}

.icon-btn{
    color: #4682A9;
    font-size: 40px;
    border: none;
    padding: 0;
    background-color: white;
}

.table-icon-btn{
    color: #4682A9;
    font-size: 20px;
    margin: 10px;
    padding: 5px;
}

.table-icon-btn:hover{
    cursor: pointer;
    background-color: #4682A9;
    color: white;
    border-radius: 7px;
}

.modal-form{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.modal-label{
    font-weight: bold;
}

.modal-input{
    width: 100%;
}

.modal-input-full-width{
    width: 100%;
}

.full-width{
    width: 100%;
}

.table-wrapper{
    width: 100%;
}

table td:last-child,
.table th:last-child {
    width: fit-content;
    text-align: right;
}

.checkbox{
    height: 15px;
    width: auto;
    margin-right: 5px;
}

.checkbox-note{
    margin-top: 3px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.col-align-right{
    align-self: self-end;
}

.title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:lighter;
    font-size: 28px;
}

.subtitle{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}

#subject-tags-placeholder{
    background-color: #acec8e;
}

.filter-wrapper{
    display: flex;
    flex-direction: column;
}

.filter-col{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}